<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140380216334-o64jff2dkad3168elpqts3238spkb1ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140380216334-o64jff2dkad3168elpqts3238spkb1ki</string>
	<key>API_KEY</key>
	<string>AIzaSyAszCwp72z4j2f6m0-lZHJ4ljCfYzkjpOA</string>
	<key>GCM_SENDER_ID</key>
	<string>140380216334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arzu</string>
	<key>PROJECT_ID</key>
	<string>dummy-arzu</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-arzu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140380216334:ios:5cdea60487b1234d6b705f</string>
</dict>
</plist>